.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.header .logo {
    max-height: 78px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}

.fixed {
    position: fixed !important;
    width: 100%;
    transition: 0.2s linear;
    z-index: 2;
}

.nofixed {
    position: static !important;
    transition: 0.2s linear;
    top: -50px;
}

.logout {
    display: flex !important;
    justify-content: end !important;
}