.sidenav {
    background-color: #3b4cca;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}

span{
    color: #FFF;
    display: inline-flex;
}



