<div class="login-container">
  <form class="form-group">
    <img class="logo" src="assets/img/logo-pokemon2.png" alt="logo">
    <h2>Login/Cadastro</h2>
    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input
        matInput
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="password">Senha</mat-label>
      <input
        matInput
        type="password"
        id="password"
        name="password"
        [(ngModel)]="senha"
        required
      />
    </mat-form-field>
    <a class="forget-password">Esqueci a senha</a>

    <div class="div-buttons">
      <button mat-raised-button type="submit" (click)="goToRegister()">Cadastrar</button>
      <button mat-raised-button type="submit" class="button-in" (click)="login()">Entrar</button>
    </div>
  </form>
</div>
