.login-container {
  width: 100vw;
  height: 100vh;
  background: #3b4cca;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.logo {
  width: 181px;
}

.form-group {
  width: 369px;
  height: 483px;
  background: #fff;
  text-align: center;
  padding: 46px;
}

mat-form-field {
  margin-top: 20px;
  width: 250px !important;
}

.button-in {
  margin-left: 30px;
}

button {
  background-color: #f7de3f !important;
}

.div-buttons {
  margin-top: 35px;
}

.forget-password {
  margin-left: 65px;
  display: flex;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  color: #5624d0;
  font-weight: 700;
}
