<div class="login-container">
  <h2>Login</h2>
  <form>
    <mat-form-field class="form-group">
      <mat-label for="email">Email</mat-label>
      <input
        matInput
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
      />
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label for="password">Senha</mat-label>
      <input
        matInput
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </mat-form-field>
  </form>
  
  <div> 
    <button mat-raised-button type="submit">Cadastrar</button>
    <button mat-raised-button type="submit" class="button-in">Entrar</button>
  </div>
</div>
