mat-card {
    width: 400px;
    margin: auto;
}

mat-card-title{
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

button {
    margin: 20px 15px 10px 10px;
}

.div-buttons{
    display: flex;
    justify-content: center;
}