<mat-dialog-content>
<div class="pokemon-detail">
  <div class="tittle">
    <h1 class="name">Charmander</h1>
    <h2 class="number">Nº 0004</h2>
  </div>
  <div class="pokemon-specifications">
    <img class="pokemon-image" src="assets/img/charmander.png" />
    <div class="pokemon-specifications-list">
        <ul>
          <li>
           <span class="span01">Height</span>
           <span class="span02">0.6 m</span>
          </li>
          <li>
            <span class="span01">Weight</span>
           <span class="span02">8.5 kg</span>
          </li>
          <li>
            <span class="span01">Category</span>
            <span class="span02">Lizard</span>
          </li>
        </ul>  
    </div>
  </div>
  <h3 class="type">Type</h3>
  <button class="type-fire" mat-raised-button>Fire</button>
  
  <h3 class="type">Weaknesses</h3>
  <button class="type-water" mat-raised-button>Water</button>
  <button class="type-ground" mat-raised-button>Ground</button>
  <button class="type-rock" mat-raised-button>Rock</button>
</div>
</mat-dialog-content>
